body{box-sizing: border-box;
    background-color: rgb(219, 219, 211);
    font-size: 16px;
    margin-left: 0px;
    margin-right: 0px;


}
header{background-color: rgb(1, 1, 26);
    color: whitesmoke;
    display: grid ;
    grid-template-rows: 69px;
    grid-template-columns: 6fr 6fr;
    align-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(27, 27, 27);
    position: fixed;
    width: 100%;
    top: 0px;
    

    
}

h1, h2, h3, li, h5,p{
    margin-left: 40px;
}

nav {
    justify-self: end;
    margin-right: 80px;
    

}

nav a{color: whitesmoke;
      margin-right: 10px;
}   

a:hover{ color:rgb(123, 123, 207)}


.section-1{ 

    margin-top: 100px;
    display: grid;
    grid-template-columns: 10fr 2fr;
    align-content: center;
    align-items: center; 
   
    
}
.message{width: 760px;
         background-color: rgb(214, 213, 208);
         border: 1px solid rgba(160, 156, 156, 0.911) ;
         border-radius:5px ;
         padding-left: 10px;
         padding-right: 10px;
         margin-left: 40px;
}

.image{justify-self: end;
      
}
img{width: 400px;
    height: 300px;
}

footer{ background-color: rgb(1, 1, 26);;
        color: whitesmoke;

}


.contacts-info{
              margin-top: -25px;
             display: grid;
              grid-template-rows:  100%;
              grid-template-columns:  33% 34% 33%;
              align-content: center;
              align-items: center; 
              
}
.contact-image img{width: 40px;
                    height: 30px;
                margin-left: 40px;}
/* Project html styling*/

.Kelvin-project, .jaytrades-project, .msg-gen-project{
    margin-right: 40px;
}
.project-main{margin-top: 110px;

}
#project-img{  width: 400px;
               
               justify-self: center;
}




.kelvin-display{ 
                 width: 300px;
                 justify-self: center;
                 text-align:center;
                 background-image: url(/resources/converterImage.jpg);
                 color: whitesmoke;
                 background-size: cover;
                 background-position: 0px;
                 border-radius: 20px;
                 border: 2px solid black;
                 
                 
                 
}

#msg-project-box{ width: 400px;
                 justify-self: center;
                 border: 2px solid black;
                 text-align:center;
                 border-radius: 20px;

}

#msg-display-box{border: 2px solid black;
                 min-width: 250px;
                 max-width: 350px;
                 min-height: 70px;
                 max-height: 100px;
                 justify-self: center;
                 text-align:center;


}
#msg-display{margin-right: 25px;
            color: blue;
}

#gen-button{margin: 10px;
}

#run-message{color:rgb(8, 50, 140);
             text-decoration: underline;

}

#run-message:hover{ 
    cursor: pointer;
    
}