@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800&amp;display=swap);
html{
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    
}

*{
    box-sizing: border-box;
   
}

body{
    box-sizing: border-box;
    background-image: url('../about-me.png');
    background-size: cover;
    font-family: 'Nunito Sans', sans-serif;
    width:100%;
    margin: 0;
    padding: 0;

}

.menu-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}



/*header styling*/

.header-nav{box-sizing: border-box;
    background-color: rgb(1, 1, 26);
    color: white;
    width: 100%;
    height: 50px;
    display: grid ;
    grid-template-rows: 100%;
    grid-template-columns:  30% 50%;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(27, 27, 27);
    position: fixed;
    top: 0px;
    font-family: Arial;
    padding-top: 1% ;
    padding-bottom: 1%;
    z-index: 1;

    
    
   
      
}

.home-nav{
    box-sizing: border-box;
    
    margin-left: 15%;
    display: block;
    
   

   
    

}

.home-nav img {
    vertical-align: middle;
    animation: color-rotate 2s infinite; /* 2-second infinite animation */
    &:hover{
        scale: 1.08;
    }
}

@keyframes color-rotate {
    0% {
        filter: brightness(0) invert(1); /* White */
    }
    50% {
        filter: sepia(1) saturate(10) hue-rotate(60deg); /* Yellow */
    }
    100% {
        filter: brightness(0) invert(1); /* White */
    }
}

.navigation{
    box-sizing: border-box;
    display: flex;
    justify-content: end;
    margin-right: 10%;
    
    
    
   
}


.other-nav {
    box-sizing: border-box;
    display: inline-flex;
    
    
   
    
}

.other-nav a{
    color: white;
    margin-right: 10px;
    text-decoration: none;
}   

a:hover{ 
    color:rgb(123, 123, 207);
    text-decoration:underline;
}

/*Footer styling*/

.footer{
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns:  45% 40%;
    background-color:rgb(1, 1, 26); 
    margin-top: 40px;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    justify-content: space-between;

    
   
   
}

.footer-image-container{
    box-sizing: border-box;
    align-items:center;
    justify-content: space-evenly;
    display: inline-flex;
    margin-left: 3%;
    
    
   
    
}

.copyright{
    justify-items: end;
    margin-right: 15%;
    
    color:white;
    font-size: small;

   
   
    
}


/*home page styling*/
.image {
    margin-top: 8rem;
    width: 100%;   
    
}

.image img{
    width: 200px;
    height: 150px;
    margin: auto;
    display: block;
    border-radius: 50% ;
    object-fit: cover;
    object-position:center 22%;
    
   
}

article{
    width: 70% ;
    margin: auto;
    text-align: center;
    color: white;  
    
}

article h2{
    margin-bottom: 30px;
    word-spacing:1rem ;
}
 
article p{
    font-size: 1.2rem ;
    line-height:2rem ;
}

 
#arrow-links{
    margin-left: 12rem;
    color:white;
    text-decoration: none;
     
}

.gif{

   
    margin-left: 0.5rem;
    vertical-align: middle;
    width: 38px;
    filter: brightness(0) invert(1); /* Changes the color to white */
}   
 


/* about me html styling*/

h1, h2, h3, h4, h6{ 
    font-family: Georgia;
}

p{ 
    font-family: "Nunito Sans", sans-serif;
}



.about-header,
.project-header,
.resume-header,
.contact-header{
    margin-top:8rem ;
    margin-left: 13rem;
    font-size: 3.3rem;
    color: rgb(0, 0, 23);
}

#about-header{
    margin-bottom: 0.2rem;
}

.message{ 
    box-sizing: border-box;
    color: white; 
    width: 70%; 
    margin: auto;
    text-align: justify;
    line-height: 2rem;
}

.message a{
    color:  rgb(3, 3, 65) ;
}

.skills-section{
    box-sizing: border-box;
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 3rem;

}


.skills-header{
    width: 20%;
    font-size: 2rem;
    padding-bottom: 1rem;
    height: 50px;
    color: rgb(0, 0, 23) ;
    border-right: 1.5px solid rgb(0, 0, 23) ;;
    padding-right: 2%;
    margin-top: 2%;
}

.skills-list{
    box-sizing: border-box;
    margin-top: 15px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    column-gap:15px;
    flex-basis: 75%;
    height: 5%;
    margin-bottom: 5rem;
  
}

.skills-list p{
    background-color: rgb(1, 1, 26); 
    color:white;
    padding: 0.7rem;
    border-radius: 4px;
}

.skills-list img{
    height: 1.14rem;
    vertical-align: middle;
}

/* Project html styling*/
.project-section{
    box-sizing: border-box;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    border-bottom: 2px solid  rgb(1, 1, 26);;
    

}

#project-intro p,
#resume-intro p,
#contact-intro p{
    margin-left: 13rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
    color:white;
}

#project-intro p{
    width: 80%;
}


.project-group{
    box-sizing: border-box;
    width: 80%;
    margin: auto;
    display:flex;
   
   
    
}

.project-image-container{
    box-sizing: border-box;
    flex-basis: 50%;
    margin: auto;
    

}

.project-image{
    
    width: 100%;
    height: 300px;
    border-radius: 1rem;
    
}

.description{
    box-sizing: border-box;
    flex-basis: 50%;
    margin-left: 5%;
}

.description h2, .description h3{
    color:  rgb(0, 0, 23);
    
}



#description-paragraphs p{
    font-size: 1.2rem ;
    line-height:2rem ;
    text-align: justify;
    color: white;  
  
}

.tools-list{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap; 
    gap: 5%;
}

.tools-list P{
    background-color: rgb(1, 1, 26);
    color: white;
    padding: 0.7rem;
    font-weight: bold;
    border-radius: 5%;

}

.project-links-container{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    margin: auto;
    margin-top: 1.5rem;
    justify-content: space-evenly;
    
}

#project-link{
    box-sizing: border-box;
    flex-basis: 25%;
    font-size: 0.9rem;
    background-color:rgb(1, 1, 26);  
    color: white;
    padding: 0.8rem;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    transition: scale 0.3s ease;

    &:hover{
        scale: 1.05;
   }
   
   
}



#recipe-app{
    padding-bottom: 0;
    border-bottom: none;

}


/*Resume page styling*/
#resume-intro a{
    color: rgb(3, 3, 65) ;
}

.resume-file{
    display: block;
    width:600px;
    height:800px; 
    margin: 0 auto 3rem;
    border: none;
    
    
}

.resume-nav{
    display: none;
}



/*Contact page style*/
#contact-intro p{
    width: 80%;
    text-align: justify;

}

.contact-section{
    box-sizing: border-box;
    display: flex;
    width: 70%;
    margin: auto;
     
}

.contacts-item1, .contacts-item2{
    box-sizing: border-box;
    padding: 5%;
    width:50%;
    font-weight: 600;
    border-left: 3px rgb(1, 1, 26) solid ;   
}

.contacts-item1{
    border:none ;
    margin-right: 2rem;
    justify-content: center;
}

.contacts-item1 h3, .contacts-item2 h3{
    color:   rgb(0, 0, 23);
}
    
.contacts-info{
    box-sizing: border-box;
    width: 100%;
    color: white;
    background-color: rgba(0.5, 0.5, 0.5, 0.5);
    border: 2px rgb(34, 34, 34) solid;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
   
}

.contacts-info p{ 
    margin-bottom: 2rem;
}


.contact-title{
    color:  white; 
    font-weight: 800;
    
    

}
.contact{
    color: white;
}

.contact-image-container{
    box-sizing: border-box;
}

.contact-image-container p{
    margin-bottom:1rem ;
}

.contact-image-item{
    display: flex;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
}

.contact-image-item a{
    margin-right: 2rem;
}

form input, form textarea {
    width: 100% ;
    padding: 0.9rem;
    margin-bottom: 0.7rem;
    font-size:1.2rem ;
    color:white;
    background-color: rgba(0.5, 0.5, 0.5, 0.5);
    
}

::placeholder{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

form button{
    background-color: rgb(1, 1, 26) ;
    color: white;
    padding: 0.8rem;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    justify-self: center;
    border:2px solid rgb(53, 53, 53);
}

.contact-image img{width: 40px;
                    height: 30px;
                
}

.footer-contact-copyright{
    box-sizing: border-box;
    width: 100%;
    background-color:rgb(1, 1, 26); 
    margin-top: 40px;
    color: white;
    font-size: small;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    text-align: center;
    font-family: Arial;   
}

       



/*Media queries*/

@media only screen and (max-width: 768px) {

   /*general style*/
    .menu-button {
        display: block;
        align-self:center;    
      
    }

    .menu-button img{
        vertical-align: middle;
      }


    .other-nav {
        display: none;
       
    }

    .other-nav#hidden {
        box-sizing: border-box;  
        position:absolute;
        background-color:  rgb(1, 1, 26) ;
        top: 100%;
        right: 0;
        width: 50%; 
        padding-top: 2%; 
        padding-left: 2%;
  
        
    }

    .other-nav#hidden a{ 
        display: block; 
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.3rem;
        padding-bottom: 5%;
        border-bottom: 2px solid  rgba(123, 122, 122, 0.523);
        width: 90%;
       
       
    }

    .other-nav#hidden a:last-child {
        border-bottom: none; 
    }

    
    
    .about-header,
    .project-header,
    .resume-header,
    .contact-header{
        margin-left: 5.5rem;
        
    }

    #project-intro p,
    #resume-intro p,
    #contact-intro p{
        margin-left: 5.5rem;
    }

    #arrow-links{
        margin-left: 5.5rem;
        
        
    }

    /*about me page style*/

    .skills-section{
        display: block;

    }

    .skills-header{
        width: 100%;
        text-align: center;
        border: none;
        height: 16px;
        
    }

    .skills-list{

       flex-basis: 100%;
       margin-bottom: 3rem;

    }
     /*project page style*/

     #project-link{
        flex-basis: 40%;
    }

    /*resume page style*/
    .resume-nav{
        height: auto;
        display: block;
        position: absolute;
        top: 90%;
        left: 92%;

        
    }
    #down-nav{
        margin-bottom: 8.5rem; ;
    }

    .nav-direction img{
        width: 25px;
        height: 25px;
    }

   
  
    /*contact page style*/
    .contact-section{
        width: 85%;
    }

    .contacts-item1, .contacts-item2{
        width:50%;
    }

    
}


@media only screen and (max-width: 480px ){

    .footer{
        width: 100%;
        display: block; 
        justify-content: center;
       
    }

    .footer-image-container{
        width: 100%;
        justify-content:space-evenly;
        display: inline-flex;
        margin-left: 0%;
        margin-top: 0.6rem;
         
        
    }

    
    .copyright{
        margin-right: 0%;
        text-align: center;
        justify-self: center;
       
       
    }

   /* home style*/
    article{
        width: 90% ;
        text-align:center; 
        
    }

    article h2{
        text-align: center;
        font-size: 1rem;
        
        word-spacing: 0.5rem;
    }

    #arrow-links{
        width: 50%;
        margin-left: 5%;
        
    
    }


    /*About me style*/

    .about-header,
    .project-header,
    .resume-header,
    .contact-header{
        margin-left: 1rem;
        
    }
       
    .message{ 
         
        border: none;
        width: 95%; 
        padding: 1rem;
        text-align:left;
        
        
    }

    .skills-section{
        width: 90%;
        display: block;

    }

    .skills-header{
        width: 100%;
        text-align: center;
        border: none;
        height: 16px;
        
    }

    .skills-list{
       flex-basis: 100%;
       justify-content: space-evenly;
       margin-bottom: 3rem;
    }


    /*Project style*/

    .header-nav{
        z-index: 3;
    }
    .project-group{
        width: 90%;
        display:block;  
           
    }

    #project-intro p,
    #resume-intro p,
    #contact-intro p{
    margin-left: 1rem;
    
    }

    .project-image-container{
        display: none;
    }

    .description{
        margin-left:0;
        width: 100%;
        
    }
    
    .description h3{
        color:  white;
        
    }
     
    #description-paragraphs p{
        font-size: 1.1rem ;
        text-align: left;
          
      
    }

    #fb-toolbutton{
        background-image: url('../clone-facebook-image.png');

    }

    #club-toolbutton{
        background-image: url('../South-run-club.png');    

    }

    #vc-toolbutton{
        background-image: url('../VC-experience.png');
    }

    #teacozy-toolbutton{
        background-image: url('../teacozy.png');
    }

    #expense-toolbutton{
        background-image: url('../expense2.png');
    }

    #reddit-toolbutton{
        background-image: url('../reddit-image.png');
    }

    #recipe-toolbutton{
        background-image: url('../favRecipe2.png');
    }

    #fb-toolbutton,
    #club-toolbutton,
    #vc-toolbutton,
    #teacozy-toolbutton,
    #recipe-toolbutton,
    #reddit-toolbutton,
    #expense-toolbutton{
        box-sizing: border-box;
        position: relative; 
        width: 100%;
        height: auto;
        border-radius: 1rem; 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 0.7rem;
        overflow: hidden; 
    
    }


   #fb-toolbutton::before, 
   #club-toolbutton::before,
   #vc-toolbutton::before,
   #teacozy-toolbutton::before,
   #recipe-toolbutton::before,
   #reddit-toolbutton::before,
   #expense-toolbutton::before{
    
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); 
        border-radius: 1rem; 
        z-index: 1; 
    }

    #fb-toolbutton *,
    #club-toolbutton *,
    #vc-toolbutton *,
    #teacozy-toolbutton *,
    #recipe-toolbutton *,
    #reddit-toolbutton *,
    #expense-toolbutton *{
        position: relative; 
        z-index: 2;
    }

    
    .tools-list{
        width: 100%;
        margin-bottom: 10%;    
       
    }
    
    .tools-list P{
        background-color: rgb(1, 1, 26); 
        padding: 0.5rem;
        font-size: 0.6rem;
        color: white;
      
    }

    #project-link{
        flex-basis: 30%;
        margin-bottom: 5%;
        font-size: 0.7rem;  
        
    }

    /*Resume style*/
    .resume-file{
        width:90%;
        height:500px; 

        
    }

     .resume-nav{
        
        height: auto; 
        top: 65%;
        left: 93.3%;
       
        
    }

    #down-nav{
        margin-bottom: 5.5rem; ;
    }

    .nav-direction a img{
        width: 16px;
        height: 16px;
    }
    
    
    /*Contact page style*/
    #contact-intro p{
        width: 90%;
        text-align: left;
       
    }

    .contact-section{
        display: block;
        width: 100%;
        margin: auto;
        margin-bottom: 1rem;
        
        
    }
        
    .contacts-item1, .contacts-item2{
        width:100%;
        font-weight: 500;
        border: none ;
        margin: auto;  
    }
    
    .contacts-item1{
        margin-right: 0%;
        margin: auto;
    }

    .contacts-info{
        padding-right: 0;
    }

    form input, form textarea {
        width: 90% ;
        font-size:1.1rem ;   
        
    }

    
    
   
       
}




